# Базовые конструкции языка

Это задание направлено на знакомство с базовыми конструкциями языка (арифметические выражения, логические выражения, переменные, ввод и вывод), а так же с тем, как их можно друг с другом комбинировать.

По хорошему этих конструкций уже должно хватать, чтобы получалось писать простые программы, например, &laquo;вывести все четные числа от a до b&raquo;.

## Арифметические выражения

In [31]:
1 + 2

3

Это так называемый интерактивный питон, здесь результат вычисления последнего выражения в клетке будет напечатан под ней. Так, например, 3 была напечатана под предыдущей клеткой.

In [2]:
2 + 2

4

In [4]:
1 - 3, 3 - 1 # запятая обозначает перечисление, более точное определение этому будет дано дальше

(-2, 2)

In [6]:
2 + 3, 2 - 3, 2 * 3, 2 / 3 # сложение, вычитание, умножение, деление

(5, -1, 6, 0.6666666666666666)

In [8]:
12 / 5, 12 // 5, 12 % 5 # деление, целочисленное деление, остаток при делении

(2.4, 2, 2)

In [9]:
7.11 + 2.13

9.24

In [19]:
0.1 + 0.2

0.30000000000000004

Как видно, сложение нецелых чисел не всегда приводит к точному результату. Это происходит из-за того, что все числа хранятся в двоичной системе счисления, и не всегда двоичное представление может быть без потери точности представлено в десятичной форме.

In [20]:
3 ** 2 # возведение в степень

9

In [22]:
0.36 ** 0.5, 1000000 ** (1 / 6) # в том числе работает и с дробными числами (не всегда точно, разумеется)

(0.6, 9.999999999999998)

In [23]:
10 - (0.1 + 0.2) * 10 # порядок операций задается скобками

7.0

In [25]:
(0.1 + 0.2) * 10 # кстати, все еще неточное число

3.0000000000000004

In [26]:
6.9999999999999996 # просто это число нельзя представить с достаточной точностью

7.0

### Полезные функции для работы с числами

In [13]:
round(2.4) # округление до ближайшего целого

2

In [17]:
round(2.5), round(-2.5) # половины огругляются в сторону к нулю

(2, -2)

In [32]:
round(0.1 + 0.2, 1), round(7.3333, 2) # округление до заданной точности после точки

(0.3, 7.33)

In [27]:
max(1, 2), min(1, 2) # максимум и минимум

(2, 1)

In [30]:
max(1, 10, -2, 7, 4), min(2, 1, -2, 9, -7) # могут принимать совершенно любое количество аргументов

(10, -7)

In [31]:
abs(2.3), abs(-2.3) # модуль/абсолютное значение

(2.3, 2.3)

In [44]:
bin(12), bin(1024) # двоичное представление числа

('0b1100', '0b10000000000')

In [45]:
int(1.2222), float(1) # int и float можно использовать для преобразования в целое и дробное число

(1, 1.0)

In [47]:
int(-1.2222), float(-2) # int, вызванный от дробного числа, откидывает дробную часть, float от целого - добавляет .0

(-1, -2.0)

## Логические выражения

Аналогично арифметическим выражениям, есть логические выражения. Они возвращают результаты типа &laquo;истина&raquo; или &laquo;ложь&raquo; (`True` или `False`) и позволяют управлять ходом программы. Так, например, в случае выполнения некоторого условия можно выполнить одни команды, а иначе &ndash; другие.

In [2]:
1 < 2 # проверка на то, что аргумент меньше

True

In [3]:
2 <= 3, 3 < 4, 3 >= 3, 3 > 3 # все возможные сравнения на меньше-больше

(True, True, True, False)

In [5]:
2 == 2, 2 == 2.0, 2 == 0b10 # сравнение на равенство по значению (последнее - двоичная запись)

(True, True, True)

In [6]:
2 != 2, 2 != 3 # сравнение на неравенство

(False, True)

In [7]:
1 < 2 < 3 < 4 # можно объединять цепочки сравнений, тогда будет проверено каждое из них

True

In [9]:
1 < 2 < 3 < 2 # не выполнено 3 < 2, так что False

False

### Логические операторы

In [10]:
2 < 2 and 10 % 2 == 0 # and проверяет истинность обоих утверждений

False

In [11]:
2 < 2 or 10 % 2 == 0 # or проверяет истинность хотя бы одного из утверждений

True

In [12]:
(2 == 2) == True # проверяет на равенство результат (2 == 2) и True

True

In [13]:
2 == 2 # на самом деле бесполезная конструкция, потому что проверка на равенство с True не меняет значение результата

True

In [19]:
(2 == 3) == False # аналогично, но для False, уже чуть более осмысленно

True

In [20]:
not 2 == 3 # но на самом деле для этого стоит использовать оператор отрицания not

True

In [21]:
True and True, True and False, False and True, False and False # результаты работы and

(True, False, False, False)

In [22]:
True or True, True or False, False or True, False or False # результаты работы or

(True, True, True, False)

In [23]:
not True, not False # результаты работы not

(False, True)

In [27]:
2 < 3 and 3 % 2 == 1 or 3 ** 2 < 2 ** 3 and 1 == 0 # можно объединять много условий в одно

True

In [30]:
((2 < 3) and (3 % 2 == 1)) or ((3 ** 2 < 2 ** 3) and (1 == 0)) # порядок выполнения операций по умолчанию такой
# 1. сначала арифметические операторы
# 2. затем < > <= >= == !=
# 3. затем not, затем and, и только в конце or

True

## Переменные

Переменные &ndash; это способ хранить информацию под каким-то определенным именем. Например, можно описать алгоритм определения числа на простоту, считая, что это самое число спрятано под именем `n`. После чего, например, введя число с клавиатуры, можно подставить его в этот алгоритм, и получить результат.

Неформально, любая программа &ndash; последовательность команд для обработки входных данных. Поскольку на момент написания программы входные данные неизвестны, их стоит обозначить некоторыми именами. Для примера, решение задачи &laquo;ввести два числа, вывести какое из них больше&raquo; можно реализовать, заведя переменные `a` и `b` под входные данные, и выведя результат вычисления выражения `a < b`.

In [32]:
a = 1 # заводим переменную с именем a, значение которой равно 1

In [33]:
a # теперь если использовать это имя, как выражение, оно вернет 1

1

In [34]:
a = 2.22 # значение переменной можно менять

In [36]:
a > 2, a < 3, a == 2, a ** 2 - 4 # имя переменной можно использовать в любых выражениях, 
# подразумевая стоящее за ним значение

(True, True, False, 0.9284000000000008)

In [38]:
a = 3.33
a > 2, a < 3, a == 2, a ** 2 - 4 # переменная изменилась, значения выражений изменились

(True, False, False, 7.088900000000001)

In [39]:
a, b, c = 1, 2.1, -222222 # можно присвоить значения сразу нескольким переменным

In [40]:
c

-222222

In [41]:
d = (b * b - 4 * a * c) ** -0.5 # справа может стоять выражение, оно будет вычислено

In [42]:
d

0.0010606580710160098

In [43]:
e # если использовать имя переменной, которому не было назначено значение, произойдет ошибка

NameError: name 'e' is not defined

In [49]:
b * b = 4 # аналогично, слева от присваивания не может стоять выражение, это должно быть имя переменной

SyntaxError: cannot assign to operator (Temp/ipykernel_684/2768226955.py, line 1)

## Ввод и вывод

В программе мало смысла, если все данные в ней заданы изначально, и она никак не взаимодействует с внешним миром. Например, задача &laquo;проверьте число 127 на простоту&raquo; имеет мало смысла, можно один раз это сделать руками, и забыть про это.

Скорее всего вы будете решать задачи вида &laquo;дано число `n`, проверьте его на простоту&raquo;. Лаба по линалу на проверку типа кривой второго порядка &ndash; вроде как типичный пример такой задачи.

In [55]:
input() # команда input() позволяет запросить строку на ввод с клавиатуры

Кавычки по краям означают, что это строка

'Кавычки по краям означают, что это строка'

In [56]:
print(10, 2, -1.22) # команда print() выводит свои аргументы через пробел

10 2 -1.22

Команды `input()` и `print()` вводят и выводят именно строки. Например, с результатом вызова `input()` нельзя работать, как с числом, даже если введенная строка является записью некоторого числа.
Для того, чтобы вводить числа, можно использовать функцию `int()`, которую видели выше, она преобразует свой аргумент к числу, если может.

In [58]:
int('12') # преобразует строку '12' в число 12

12

In [59]:
int('12.1') # не может преобразовать, так как это не запись целого числа

ValueError: invalid literal for int() with base 10: '12.1'

In [61]:
float('12.1') # но это корректная запись дробного числа, так что float может

12.1

In [62]:
a = int(input()) # читаем целое число, записываем его в переменную a

-123

In [63]:
a

-123

In [65]:
a + 124 # можно работать с помощью стандартных арифметических операций, так как a хранит число

1

In [68]:
b = input() # не вызвали int, считали строку

-123

In [69]:
b

'-123'

In [71]:
b + 124 # ошибка, нельзя складывать строку и число

TypeError: can only concatenate str (not "int") to str

In [72]:
print(12, '+', 5, '=', 12 + 5) # в выводе можно выводить как строки, так и числа, так и другие объекты

12 + 5 = 17

In [76]:
print(12, '+', 5, '=', 12 + 5, sep='') # указав sep='строка', можно заменить стандартный разделитель

12+5=17

In [77]:
print(1, 2, 3, 4, sep='..x..') # например, так

1..x..2..x..3..x..4

# Задания

Дальше предложены несколько заданий на все, что было описано наверху. Попробуйте их выполнить, если чувствуете себя неуверенно в этом всем.

**Хорошая рекомендация**: найдите любой Python Playground/Sandbox, в общем место, где можно в интерактивном режиме повбивать команды и посмотреть на результаты их выполнения. В этом плане очень хорошо подходит меню `Python Console` внутри PyCharm, оно работает как этот блокнот, выводит результаты интерактивно сразу же, но еще и умеет давать подсказки по синтаксису.

1. Считать число из ввода в переменную `a`, считать еще одно число со следующей строки в `b`, вывести их среднее арифметическое.

In [78]:
... # место для вашего кода

Ellipsis

2. Считать так же из ввода два числа `a` и `b`, вывести строку вида `a в степени b равно ..`, где вместо `a`, `b` и `..` подставлены реальные значения (например, `2 в степени 3 равно 8`).

In [79]:
... # место для вашего кода

Ellipsis

3. Считать из ввода одно число (целое), и проверить, что оно является точным квадратом, то есть равно `a * a` для некоторого целого `a`. Вывести `True` или `False`.

In [80]:
... # место для вашего кода

Ellipsis